POSTGRES_DB=currencies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=your-local-postgres-port

CURRENCYBEACON_API_KEY=your-api-key
CURRENCYBEACON_API_ROOT=https://api.currencybeacon.com/v1